node_modules
out
lib
!packages/eslint-plugin-zowe-explorer/**/lib
logs
results
*.log
npm-shrinkwrap.json
**/*.tsbuildinfo
.vscode/settings.json
.vscode/*.env
.vscode-test
.history
.DS_Store
.idea
temp
*.zip
*.tgz
.tmp
coverage/
v8-compile-cache-0/
dist/
prebuilds/
package.nls.*.json
bundle.l10n.*.json
bundle.l10n.json.template
zedc/target
